LLM__VISION_URL=
LLM__SERVICE_KEY=
OPENAI_API_KEY=
LLM__ALLOWED_PROVIDERS=

STORAGE__CHROMA_STORAGE=
ROOT_DIR=

HOSTS_PORTS__CHROMA_HOST=
HOSTS_PORTS__EMBEDDING_HOST=
HOSTS_PORTS__RERANKER_HOST=
HOSTS_PORTS__OPENCHEMIE_HOST=
HOSTS_PORTS__CHROMA_PORT=
HOSTS_PORTS__EMBEDDING_PORT=
HOSTS_PORTS__RERANKER_PORT=
HOSTS_PORTS__OPENCHEMIE_PORT=

COLLECTIONS__SUMMARIES=
COLLECTIONS__TEXTS=
COLLECTIONS__IMAGES=

S3__ENDPOINT_URL=
S3__ACCESS_KEY=
S3__SECRET_KEY=
S3__BUCKET_NAME=