VISION_LLM_URL=
SUMMARY_LLM_URL=
MARKER_LLM=

PARSE_RESULTS_PATH=
CHROMA_STORAGE_PATH=
PAPERS_STORAGE_PATH=

CHROMA_HOST=
EMBEDDING_HOST=
RERANKER_HOST=
OPENCHEMIE_HOST=
CHROMA_PORT=
EMBEDDING_PORT=
RERANKER_PORT=
OPENCHEMIE_PORT=

SUMMARIES_COLLECTION_NAME=
TEXTS_COLLECTION_NAME=
IMAGES_COLLECTION_NAME=

USE_S3=
ENDPOINT_URL=
ACCESS_KEY=
SECRET_KEY=
BUCKET_NAME=