VISION_LLM_URL=https://openrouter.ai/api/v1;google/gemini-2.5-flash

CHROMA_STORAGE_PATH=
ROOT_DIR=

CHROMA_HOST=
EMBEDDING_HOST=
RERANKER_HOST=
OPENCHEMIE_HOST=
CHROMA_PORT=
EMBEDDING_PORT=
RERANKER_PORT=
OPENCHEMIE_PORT=

SUMMARIES_COLLECTION_NAME=
TEXTS_COLLECTION_NAME=
IMAGES_COLLECTION_NAME=

ENDPOINT_URL=
ACCESS_KEY=
SECRET_KEY=
BUCKET_NAME=